<!DOCTYPE html>
<html lang="sp">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/styles.css">
      <!-- FontAwesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
      <title>Proyecto Integrador</title>
</head>

<body>
      <div class="container">
            <header class="header-container">
                  <h1>Soy Same Crawford</h1>
                  <H3>Desarrollador Web FullStack</H3>
                  <nav class="nav-container">
                        <ul class="contact">
                              <li><i class="fa-brands fa-whatsapp title"></i>
                                    <p class="list">+54 9 (562) 411-4965</p>
                              </li>
                              <li><i class="fa-sharp fa-solid fa-envelopes-bulk title"></i>
                                    <p class="list">same.crawford@example.com</p>
                              </li>
                              <li><i class="fa-solid fa-calendar-days title"></i>
                                    <p class="list">06-Mar-1961</p>
                              </li>
                              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        </ul>
                  </nav>
            </header>

            <main class="main-container">
                  <nav class="nav-container">
                        <ul class="main">
                              <a href="#experiencia">
                                    <li>EXPERIENCIA</li>
                              </a>
                              <a href="#formacion">
                                    <li>FORMACION</li>
                              </a>
                              <a href="#habilidades">
                                    <li>HABILIDADES</li>
                              </a>
                              <a href="#idiomas">
                                    <li>IDIOMAS</li>
                              </a>
                              <a href="#conociminetos">
                                    <li>CONOCIMIENTOS</li>
                              </a>
                        </ul>
                  </nav>

                  <section class="details">
                        <div class="details-container">

                              <h3 id="experiencia">EXPERIENCIA</h3>
                              <p> 10/2022 - Presente Analista - Programador, Servicios Técnicos IT, Bilbao</p>
                              <ul>
                                    <li>Toma de requerimientos con el cliente</li>
                                    <li>Análisis de requerimientos y diseño de aplicaciones</li>
                                    <li>Desarrollo de aplicaciones utilizando Javascript, PHP, MySQL</li>
                                    <li>Soporte técnico a clientes</li>
                              </ul>

                              <p>12/2018 - 10/2022 Programador Full Stack, Finanbest, Madrid</p>
                              <ul>
                                    <li>Desarrollo Front End y Back End de aplicaciones con Typescript, Javascript, PHP, MySQL, HTML5</li>
                                    <li>Realización de test de aplicaciones</li>
                                    <li>Solución de incidencias</li>
                              </ul>
                              <p> 07/2015 - 12/2018 Programadora web, Sistemas Informáticos SL, Madrid</p>
                              <ul>
                                    <li>Desarrollo de aplicaciones web para clientes de la empresa del sector financiero utilizando Javascript, PHP
                                    </li>
                                    <li>Mantenimiento de aplicaciones web</li>
                                    <li>Maquetación HTML5, CSS3, Bootstrap</li>
                                    <li>Manejo de datos XML, JSON</li>
                              </ul>
                              <h3 id="formacion">FORMACION</h3>
                              <p>2007 - 2014 Ingeniería de Telecomunicaciones, Universidad de Navarra</p>

                              <h3 id="habilidades">HABILIDADES</h3>
                              <ul>
                                    <li>Buenas Practicas</li>
                                    <li>Proactividad</li>
                                    <li>Autodidacta</li>
                                    <li>Comprometido</li>
                                    <li>Buena volundad</li>
                                    <li>Diseño Web</li>
                                    <li>Facil Aprendizaje</li>
                              </ul>
                              <h3 id="idiomas">IDIOMAS</h3>
                              <ul>
                                    <li>Español: Nativo</li>
                                    <li>Ingles: Basico</li>
                              </ul>
                              <H3 id="conociminetos">CONOCIMIENTOS</H3>
                              <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JavaScript</li>
                                    <li>Bootstrap</li>
                                    <li>GitHub</li>
                                    <li>Scrum</li>
                              </ul>
                        </div>
                  </section>

                  <section class="data">
                        <div class="image">
                              <img src="../image/30.jpg" alt="">
                        </div>
                        <div class="details">
                              <h2 class="title">Sobre mi</h2>
                              <p>
                                    ✨ Actualmente estoy cursando la carrera de analista programador universitario en la Facultad de Informática UNLP.
                                    <br>
                                    ✨Estoy cursando el curso de Argentina Programa FullStack. <br>
                                    ✨Por mi parte autodidacta hice algunas cursos de Youtube en C# y SQL Server. <br>
                              </p>
                        </div>

                  </section>
            </main>

            <footer class="footer-container">
                  <div class="footer">
                        © 2022 - 2023 - All rights reserved.
                  </div>
            </footer>
            <script src="../js/index.js"></script>
      </div>
</body>

</html>